{
  "env": {
    "production": {
      "plugins": [
        "ramda",
        "transform-react-remove-prop-types",
        "transform-react-router-optimize",
      ]
    }
  },
  "presets": [
    "latest"
  ]
}
