body {
  background: $squirtle-midnight;
  font-family: sans-serif;
  margin: 0;
  user-select: none;
  height: 100vh;
  cursor: default;
}

.flex-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

select {
  appearance: none;
  background: linear-gradient(#06e, #05c);
  border-radius: 1rem;
  border: 1px solid #058;
  box-shadow: $squirtle-dusk 0 0 1.5rem 0.1rem;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  height: 3rem;
  margin: 1rem 0.5rem;
  text-indent: 1.5rem;
  width: 12rem;
  &[disabled] {
    visibility: hidden;
  }
}

input[type=number] {
  background: linear-gradient(#06e, #05c);
  border-radius: 1rem;
  border: 1px solid #058;
  color: $black;
  cursor: pointer;
  font-size: 1rem;
  height: 3rem;
  margin: 1rem 0.5rem;
  padding: 1rem 0.5rem;
  width: 12rem;
}

input[type=checkbox] {
  margin: 1rem 0.5rem;
  width: 12rem;
}
