.pattern-editor {
  $total-width: 50vw;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: $total-width;
  .step {
    $side-length: $total-width / 8;
    $color: #15a;
    background-color: $color;
    border: $side-length / 32 solid #eee;
    box-sizing: border-box;
    height: $side-length / 2;
    width: $side-length;
    &.active {
      background: lighten($color, 20%);
    }
    &.selected {
      background: darken($color, 25%);
    }
    &.active.selected {
      background: darken($color, 15%);
    }
  }
}
