@import 'vars';

.performance-menu {
  display: flex;
  text-align: center;
  width: 100%;
  .buttons-container {
    text-align: center;
    display: inline;
    margin: auto;
    button {
      display: inline;
      margin: 2vh 1rem;
      max-width: 8rem;
    }
  }
}
