.play-button {
  $color: #15a;
	border-bottom: 2rem solid transparent;
	border-left: 3rem solid $color;
	height: 0;
	width: 0;
  border-top: 2rem solid transparent;
  margin: 1rem auto;
  &.selected {
    background: 3rem solid $color;
    border: 0;
    height: 3rem;
    width: 3rem;
  }
}
