$black: #000;
$off-white: #eee;
$white: #fff;

$squirtle-dawn: #26f;
$squirtle-dusk: #05a;
$squirtle-midday: #7ec1ff;
$squirtle-afternoon: #02c;
$squirtle-night: #024;
$squirtle-midnight: #012;

$tiny-font: 0.8rem;
$small-font: 0.9rem;
$normal-font: 1rem;
