@import 'vars';
@import 'control-pad';
@import 'inputs';
@import 'loading-spinner';
@import 'modal-container';
@import 'pattern-editor';
@import 'performance-menu';
@import 'play-button';
@import 'navigation';

body {
  background: #012;
  font-family: sans-serif;
  margin: 0;
  user-select: none;
  height: 100vh;
  cursor: default;
}

.upgrade-browser-message {
  color: $white;
  text-align: center;
  margin: 0;
  padding: 2rem 0;
}

.center {
  text-align: center;
}
