@import 'vars';
@import 'globals';

@import 'control-pad';
@import 'inputs';
@import 'loading-spinner';
@import 'modal-container';
@import 'navigation';
@import 'pattern-editor';
@import 'pattern-options';
@import 'pattern-row';
@import 'performance-menu';
@import 'play-button';
@import 'selector';
@import 'settings-view';
@import 'upgrade-browser-message';
@import 'x-label';
@import 'x-labels';
@import 'y-label';

body {
  background: #012;
  font-family: sans-serif;
  margin: 0;
  user-select: none;
  height: 100vh;
  cursor: default;
}
