.Song {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative
}

.Song__Controls {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Song__Marker {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}

.Song__Steps {
  cursor: pointer;
}
