.modal-container {
  height: 100vh;
  position: fixed;
  width: 100%;
  .modal-window {
    margin: auto;
    position: relative;
    text-align: center;
    top: 2rem;
    .modal-contents {
      background: linear-gradient(#015, #001);
      border-radius: 2rem;
      box-shadow: #02c 0 0 2rem 0.2rem;
      display: inline-block;
      padding: 2rem;
      h1 {
        color: $black;
        text-shadow: 0 0 1rem #26f;
      }
    }
  }
}
