@import 'vars';
@import 'performance-menu';
@import 'control-pad';

button, select {
  background: linear-gradient(#e04, #c30);
  border: 1px solid rgb(170, 0, 51);
  border-radius: 1rem;
  box-shadow: #a02 0 0 1.5rem 0.1rem;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  height: 4rem;
  margin: 1rem;
  width: 12rem;
}

input {
  width: 12rem;
}

select {
  height: 3rem;
  text-indent: 1.5rem;
}

.modal-container {
  height: 100vh;
  position: fixed;
  width: 100%;
  .modal-window {
    margin: auto;
    position: relative;
    text-align: center;
    top: 8rem;
    .modal-contents {
      background: linear-gradient(#500, #100);
      border-radius: 2rem;
      box-shadow: #c00 0 0 2rem 0.2rem;
      display: inline-block;
      padding: 2rem;
      h1 {
        color: #000;
        text-shadow: 0 0 1rem #f24;
      }
    }
  }
}

.center {
  text-align: center;
}
