@import 'vars';
@import 'performance-menu';
@import 'touch-pad';

body {
  background: $black;
  margin: 0;
  user-select: none;
}

.modal-container {
  background: green;
  height: 100vh;
  position: fixed;
  width: 100%;
  .modal-window {
    margin: auto;
    position: relative;
    text-align: center;
    top: 10rem;
    button {
      background: linear-gradient(#04e, #03c);
      border-color: #03a;
      border-radius: 1rem;
      color: $off-white;
      cursor: pointer;
      display: inline-block;
      font-size: 1rem;
      margin: 0.5rem;
      width: 8rem;
      height: 4rem;
    }
  }
}
