@import 'vars';

body {
  background: $black;
  margin: 0;
}

.touch-pad {
  background: $gray;
  display: block;
  height: 100vw;
  width: 100vw;
  @media (orientation: landscape) {
    height: 100vh;
    width: 100vh;
  }
}
