.modal-container {
  height: 100vh;
  position: fixed;
  width: 100%;
  .modal-window {
    margin: auto;
    position: relative;
    text-align: center;
    top: 2rem;
    .modal-contents {
      background: linear-gradient(#015, #001);
      border-radius: 2rem;
      box-shadow: #02c 0 0 2rem 0.2rem;
      display: inline-block;
      padding: 2rem;
      label {
        display: block;
        &:hover span {
          text-shadow: 0 0 0.5rem #26f;
        }
        &:hover output {
          text-shadow: 0 0 0.5rem #26f;
        }
      }
      output {
        color: $white;
      }
      span {
        color: $white;
        display: inline-block;
        margin-right: 0.5rem;
        text-align: right;
        width: 5rem;
      }
    }
  }
}
