.Pattern {
  animation-duration: var(--transition-medium);
  animation-name: expand;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Pattern__Container {
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 100vw;
}

.Pattern__Controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Pattern__Marker {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}
