.PatternPage {
  animation-duration: var(--transition-medium);
  animation-name: expand;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PatternPage__Title {
  text-align: center;
}
