.modal-container {
  height: 100vh;
  position: fixed;
  width: 100%;
  .modal-window {
    margin: auto;
    position: relative;
    text-align: right;
    top: 2rem;
    .modal-contents {
      background: linear-gradient(#015, #001);
      border-radius: 2rem;
      box-shadow: $squirtle-afternoon 0 0 2rem 0.2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      padding: 2rem;
      width: 20rem;
      label {
        &:hover span {
          text-shadow: 0 0 0.5rem $squirtle-dawn;
        }
        &:hover output {
          text-shadow: 0 0 0.5rem $squirtle-dawn;
        }
      }
      output {
        color: $white;
      }
    }
  }
}
