:root {
  --blue-90: #ace;
  --blue-80: #7ec1ff;
  --blue-70: #37e;
  --blue-60: #05c;
  --blue-50: #03c;
  --blue-30: #019;
  --blue-20: #024;
  --blue-10: #012;
  --gray-90: #eee;
  --gray-50: #888;
  --gray-10: #111;
  --green-80: #2f6;
  --green-50: #0c3;
  --green-40: #0a5;
  --green-20: #042;
  --red-50: #f32;
  --turquoise: #0be;
  --turquoise-light: #3df;
}
