:root {
  --hue-blue: 200;
  --hue-green: 145;
  --hue-red: 0;

  --blue-10: hsl(var(--hue-blue), 100%, 10%);
  --blue-20: hsl(var(--hue-blue), 100%, 20%);
  --blue-30: hsl(var(--hue-blue), 100%, 30%);
  --blue-40: hsl(var(--hue-blue), 100%, 40%);
  --blue-50: hsl(var(--hue-blue), 100%, 50%);
  --blue-60: hsl(var(--hue-blue), 100%, 60%);
  --blue-70: hsl(var(--hue-blue), 100%, 70%);
  --blue-80: hsl(var(--hue-blue), 100%, 80%);
  --blue-90: hsl(var(--hue-blue), 100%, 90%);
  --gray-00: hsl(0, 0%, 0%);
  --gray-10: hsl(0, 0%, 10%);
  --gray-20: hsl(0, 0%, 20%);
  --gray-30: hsl(0, 0%, 30%);
  --gray-40: hsl(0, 0%, 40%);
  --gray-50: hsl(0, 0%, 50%);
  --gray-60: hsl(0, 0%, 60%);
  --gray-70: hsl(0, 0%, 70%);
  --gray-80: hsl(0, 0%, 80%);
  --gray-90: hsl(0, 0%, 90%);
  --gray-99: hsl(0, 0%, 100%);
  --green-10: hsl(var(--hue-green), 100%, 10%);
  --green-20: hsl(var(--hue-green), 100%, 20%);
  --green-30: hsl(var(--hue-green), 100%, 30%);
  --green-40: hsl(var(--hue-green), 100%, 40%);
  --green-50: hsl(var(--hue-green), 100%, 50%);
  --green-60: hsl(var(--hue-green), 100%, 60%);
  --green-70: hsl(var(--hue-green), 100%, 70%);
  --green-80: hsl(var(--hue-green), 100%, 80%);
  --green-90: hsl(var(--hue-green), 100%, 90%);
  --red-10: hsl(var(--hue-red), 100%, 10%);
  --red-20: hsl(var(--hue-red), 100%, 20%);
  --red-30: hsl(var(--hue-red), 100%, 30%);
  --red-40: hsl(var(--hue-red), 100%, 40%);
  --red-50: hsl(var(--hue-red), 100%, 50%);
  --red-60: hsl(var(--hue-red), 100%, 60%);
  --red-70: hsl(var(--hue-red), 100%, 70%);
  --red-80: hsl(var(--hue-red), 100%, 80%);
  --red-90: hsl(var(--hue-red), 100%, 90%);
  --pink-50: #d6e;
}
