.full-button {
  appearance: none;
  background: linear-gradient(#06e, #05c);
  border-radius: 1rem;
  border: 1px solid #058;
  box-shadow: #05a 0 0 1.5rem 0.1rem;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  height: 2.5rem;
  margin: 1rem 0.5rem;
  width: 12rem;
}
