.hollow-button {
  background: linear-gradient($squirtle-night, $black, $squirtle-night);
  border-radius: 1rem;
  border: 1px solid #058;
  box-shadow: $squirtle-dusk 0 0 0.5rem 0.1rem;
  color: $white;
  cursor: pointer;
  font-size: $small-font;
  margin: 1rem 0.5rem;
  padding: 0.25rem 1rem;
  &:hover {
    box-shadow: $squirtle-dusk 0 0 1rem 0.1rem;
  }
  &:active {
    background: linear-gradient($black, $black, $squirtle-night);
  }
}
