.hollow-button {
  background: rgba(0,0,0,0);
  border-radius: 1rem;
  border: 1px solid #058;
  box-shadow: #05a 0 0 1.5rem 0.1rem;
  color: $white;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 1rem 0.5rem;
  padding: 0.25rem 1rem;
}
