:root {
  --root-hue: 0;
  --hue-blue: calc(var(--root-hue) + 240);
  --hue-green: calc(var(--root-hue) + 165);
  --hue-red: var(--root-hue);

  --blue-05: hsl(calc(var(--hue-blue) - 29), 62%, 5%);
  --blue-10: hsl(calc(var(--hue-blue) - 27), 64%, 10%);
  --blue-20: hsl(calc(var(--hue-blue) - 24), 68%, 20%);
  --blue-30: hsl(calc(var(--hue-blue) - 21), 72%, 30%);
  --blue-40: hsl(calc(var(--hue-blue) - 18), 76%, 40%);
  --blue-50: hsl(calc(var(--hue-blue) - 15), 80%, 50%);
  --blue-60: hsl(calc(var(--hue-blue) - 12), 84%, 60%);
  --blue-70: hsl(calc(var(--hue-blue) - 9), 88%, 70%);
  --blue-80: hsl(calc(var(--hue-blue) - 6), 92%, 80%);
  --blue-90: hsl(calc(var(--hue-blue) - 3), 96%, 90%);
  --gray-00: hsl(0, 0%, 0%);
  --gray-10: hsl(0, 0%, 10%);
  --gray-20: hsl(0, 0%, 20%);
  --gray-30: hsl(0, 0%, 30%);
  --gray-40: hsl(0, 0%, 40%);
  --gray-50: hsl(0, 0%, 50%);
  --gray-60: hsl(0, 0%, 60%);
  --gray-70: hsl(0, 0%, 70%);
  --gray-80: hsl(0, 0%, 80%);
  --gray-90: hsl(0, 0%, 90%);
  --gray-99: hsl(0, 0%, 100%);
  --green-05: hsl(calc(var(--hue-green) - 29), 62%, 5%);
  --green-10: hsl(calc(var(--hue-green) - 27), 64%, 10%);
  --green-20: hsl(calc(var(--hue-green) - 24), 68%, 20%);
  --green-30: hsl(calc(var(--hue-green) - 21), 72%, 30%);
  --green-40: hsl(calc(var(--hue-green) - 18), 76%, 40%);
  --green-50: hsl(calc(var(--hue-green) - 15), 80%, 50%);
  --green-60: hsl(calc(var(--hue-green) - 12), 84%, 60%);
  --green-70: hsl(calc(var(--hue-green) - 9), 88%, 70%);
  --green-80: hsl(calc(var(--hue-green) - 6), 92%, 80%);
  --green-90: hsl(calc(var(--hue-green) - 3), 96%, 90%);
  --red-05: hsl(calc(var(--hue-red) - 29), 62%, 5%);
  --red-10: hsl(calc(var(--hue-red) - 27), 64%, 10%);
  --red-20: hsl(calc(var(--hue-red) - 24), 68%, 20%);
  --red-30: hsl(calc(var(--hue-red) - 21), 72%, 30%);
  --red-40: hsl(calc(var(--hue-red) - 18), 76%, 40%);
  --red-50: hsl(calc(var(--hue-red) - 15), 80%, 50%);
  --red-60: hsl(calc(var(--hue-red) - 12), 84%, 60%);
  --red-70: hsl(calc(var(--hue-red) - 9), 88%, 70%);
  --red-80: hsl(calc(var(--hue-red) - 6), 92%, 80%);
  --red-90: hsl(calc(var(--hue-red) - 3), 96%, 90%);
  --pink-50: #d6e;
}
