:root {
  --blue-05: hsl(210, 62%, 5%);
  --blue-10: hsl(213, 64%, 10%);
  --blue-20: hsl(216, 68%, 20%);
  --blue-30: hsl(219, 72%, 30%);
  --blue-40: hsl(222, 76%, 40%);
  --blue-50: hsl(225, 80%, 50%);
  --blue-60: hsl(228, 84%, 60%);
  --blue-70: hsl(231, 88%, 70%);
  --blue-80: hsl(234, 92%, 80%);
  --blue-90: hsl(237, 96%, 90%);
  --gray-00: hsl(0, 0%, 0%);
  --gray-10: hsl(0, 0%, 10%);
  --gray-20: hsl(0, 0%, 20%);
  --gray-30: hsl(0, 0%, 30%);
  --gray-40: hsl(0, 0%, 40%);
  --gray-50: hsl(0, 0%, 50%);
  --gray-60: hsl(0, 0%, 60%);
  --gray-70: hsl(0, 0%, 70%);
  --gray-80: hsl(0, 0%, 80%);
  --gray-90: hsl(0, 0%, 90%);
  --gray-99: hsl(0, 0%, 100%);
  --green-05: hsl(135, 62%, 5%);
  --green-10: hsl(138, 64%, 10%);
  --green-20: hsl(141, 68%, 20%);
  --green-30: hsl(144, 72%, 30%);
  --green-40: hsl(147, 76%, 40%);
  --green-50: hsl(150, 80%, 50%);
  --green-60: hsl(153, 84%, 60%);
  --green-70: hsl(156, 88%, 70%);
  --green-80: hsl(159, 92%, 80%);
  --green-90: hsl(162, 96%, 90%);
  --red-05: hsl(29, 62%, 5%);
  --red-10: hsl(27, 64%, 10%);
  --red-20: hsl(24, 68%, 20%);
  --red-30: hsl(21, 72%, 30%);
  --red-40: hsl(18, 76%, 40%);
  --red-50: hsl(15, 80%, 50%);
  --red-60: hsl(12, 84%, 60%);
  --red-70: hsl(9, 88%, 70%);
  --red-80: hsl(6, 92%, 80%);
  --red-90: hsl(3, 96%, 90%);
  --pink-50: #d6e;
}
