body {
  background: $squirtle-midnight;
  color: $white;
  font-family: sans-serif;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.margin-bottom { margin-bottom: 2rem; }

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
