$black: #000;
$off-white: #eee;
$white: #fff;

$transparent: rgba(0, 0, 0, 0);

$bulbasaur-dawn: #2f6;
$bulbasaur-dusk: #0a5;
$bulbasaur-midnight: #020;
$bulbasaur-night: #042;
$bulbasaur-evening: #091;

$squirtle-dawn: #26f;
$squirtle-dusk: #05b;
$squirtle-midday: #7ec1ff;
$squirtle-afternoon: #02c;
$squirtle-evening: #019;
$squirtle-night: #024;
$squirtle-midnight: #012;

$turquoise: #18f;
$turquoise-light: #3df;

$tiny-font: 0.7rem;
$small-font: 0.8rem;
$normal-font: 1rem;

$transition-fast: 0.2s;
$transition-instant: 0s;

$pattern-total-width: 100vw / 12 * 11;
$pattern-side-length: $pattern-total-width / 9;
