$black: #000;
$off-white: #eee;
$white: #fff;

$transparent: rgba(0, 0, 0, 0);

$blue-6: #ace;

$blue-afternoon: #02c;
$blue-dawn: #26f;
$blue-dusk: #05b;
$blue-evening: #019;
$blue-midday: #7ec1ff;
$blue-midnight: #012;
$blue-night: #024;

$gray-7: #eee;
$gray-6: #ccc;
$gray-5: #aaa;
$gray-4: #888;
$gray-3: #555;
$gray-2: #333;
$gray-1: #111;

$green-c: #aec;
$green-6: #2f6;
$green-5: #0c3;
$green-4: #0a5;
$green-3: #091;
$green-2: #042;
$green-1: #020;

$red-6: #f32;
$red-5: #e00;

$turquoise: #18f;
$turquoise-light: #3df;

$font-tiny: 0.7rem;
$font-small: 0.8rem;
$font-medium: 1rem;


$size0: 0rem;
$size1: 0.1rem;
$size2: 0.25rem;
$size3: 0.5rem;
$size4: 0.75rem;
$size5: 1rem;
$size6: 1.25rem;


$transition-fast: 0.2s;
$transition-instant: 0s;

$pattern-total-width: 100vw / 12 * 11;
$pattern-side-length: $pattern-total-width / 9;
