$black: #000;
$off-white: #eee;
$white: #fff;

$transparent: rgba(0, 0, 0, 0);

$blue-afternoon: #02c;
$blue-dawn: #26f;
$blue-dusk: #05b;
$blue-evening: #019;
$blue-midday: #7ec1ff;
$blue-midnight: #012;
$blue-night: #024;

$gray-7: #eee;
$gray-6: #ccc;
$gray-5: #aaa;
$gray-4: #888;
$gray-3: #555;
$gray-2: #333;
$gray-1: #111;

$green-dawn: #2f6;
$green-dusk: #0a5;
$green-evening: #091;
$green-midnight: #020;
$green-night: #042;

$red-dawn: #f32;

$turquoise: #18f;
$turquoise-light: #3df;

$tiny-font: 0.7rem;
$small-font: 0.8rem;
$normal-font: 1rem;

$transition-fast: 0.2s;
$transition-instant: 0s;

$pattern-total-width: 100vw / 12 * 11;
$pattern-side-length: $pattern-total-width / 9;
