body {
  background: #000;
  color: #fff;
  font-family: sans-serif;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.display-table { display: table }
.inline-block { display: inline-block; }
.font-size-1 {font-size: 1rem;}
.margin-bottom { margin-bottom: 2rem; }
.margin-horizontal-small { margin-left: 0.5rem; margin-right: 0.5rem; }
.padding-0 { padding: 0.5rem; }
.padding-1 { padding: 1rem; }

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.text-center {
  text-align: center;
}
