.button-secondary {
  background: $green-dawn;
  border-radius: 1rem;
  color: $black;
  font-size: $font-small;
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  transition-duration: $transition-fast;
}
.button-secondary:active {
  background: $green-night;
}
.button-secondary:hover {
  background: $green-dusk;
  transition-duration: $transition-fast;
}
