.button-primary {
  background: linear-gradient($blue-dawn, $blue-dusk);
  border-radius: $size6;
  border: $size1 solid $blue-dusk;
  box-shadow: $blue-dusk 0 0 $size3;
  box-sizing: border-box;
  color: $black;
  display: inline-block;
  font-size: $font-medium;
  margin: $size4;
  min-width: 10rem;
  padding: $size4 $size5;
  text-align: center;
  text-decoration: none;
  transition-duration: $transition-fast;
}
.button-primary:hover {
  box-shadow: $blue-dusk 0 0 $size5 $size1;
  transition-duration: $transition-fast;
}
.button-primary:active {
  background: linear-gradient($blue-dusk, $blue-dawn);
}
