.button-secondary {
  background: $green-6;
  border-radius: 1rem;
  color: $black;
  font-size: $size-4;
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  transition-duration: $transition-fast;
}
.button-secondary:active {
  background: $green-2;
}
.button-secondary:hover {
  background: $green-4;
  transition-duration: $transition-fast;
}
