.button-secondary {
  background: $bulbasaur-dawn;
  border-radius: 1rem;
  color: $black;
  font-size: $small-font;
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  transition-duration: $transition-fast;
}
.button-secondary:active {
  background: $bulbasaur-night;
}
.button-secondary:hover {
  background: $bulbasaur-dusk;
  transition-duration: $transition-fast;
}
