.play-button {
  background: none;
  border-bottom: 2rem solid transparent;
  border-left: 3.5rem solid $blue-dusk;
  border-right: none;
  border-top: 2rem solid transparent;
  cursor: pointer;
  padding: 0;
  height: 0;
  margin: 1rem auto;
  width: 0;
}
.play-button:hover {
  border-left-color: $blue-dawn;
}

.play-button--playing {
  background: $blue-dusk;
  border: 0;
  height: 4rem;
  width: 4rem;
}
.play-button--playing:hover {
  background: $blue-dawn;
}
