.button-primary {
  background: linear-gradient(var(--blue-70), var(--blue-60));
  border-radius: 2rem;
  border: 0.1rem solid var(--blue-60);
  box-shadow: var(--blue-60) 0 0 0.5rem;
  box-sizing: border-box;
  color: #000;
  display: inline-block;
  font-size: 1rem;
  margin: 0.75rem;
  min-width: 10rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none;
  transition-duration: var(--transition-fast);
}
.button-primary:hover {
  box-shadow: var(--blue-60) 0 0 1rem 0.1rem;
  transition-duration: var(--transition-fast);
}
.button-primary:active {
  background: linear-gradient(var(--blue-60), var(--blue-70));
}
