.button-primary--small {
  background: linear-gradient(var(--blue-70), var(--blue-60));
  border-radius: 0.25rem;
  border: 1px solid;
  border-color: var(--blue-60);
  color: #000;
  padding: 0.25rem 0.5rem;
  text-align: center;
  text-decoration: none;
  transition-duration: var(--transition-fast);
}

.button-primary--small:active {
  background: linear-gradient(var(--blue-20), var(--blue-70));
  border-color: var(--blue-20);
  transition-duration: 0s;
}

.button-primary--small:hover {
  background: linear-gradient(var(--blue-60), var(--blue-70));
  transition-duration: var(--transition-fast);
}
