.ButtonSecondary {
  background: var(--green-80);
  border-radius: 1rem;
  color: var(--gray-00);
  font-size: 0.75rem;
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  transition-duration: var(--transition-fast);
}
.ButtonSecondary:active {
  background: var(--green-20);
}
.ButtonSecondary:hover {
  background: var(--green-40);
  transition-duration: var(--transition-fast);
}
