.button-primary {
  background: linear-gradient($blue-dawn, $blue-dusk);
  border-radius: $size-7;
  border: $size-1 solid $blue-dusk;
  box-shadow: $blue-dusk 0 0 $size-3;
  box-sizing: border-box;
  color: #000;
  display: inline-block;
  font-size: $size-5;
  margin: $size-4;
  min-width: 10rem;
  padding: $size-4 $size-5;
  text-align: center;
  text-decoration: none;
  transition-duration: $transition-fast;
}
.button-primary:hover {
  box-shadow: $blue-dusk 0 0 $size-5 $size-1;
  transition-duration: $transition-fast;
}
.button-primary:active {
  background: linear-gradient($blue-dusk, $blue-dawn);
}
