.ButtonPrimary {
  background: linear-gradient(var(--blue-70), var(--blue-60));
  border-radius: 2rem;
  border: 0.1rem solid var(--blue-60);
  box-shadow: var(--blue-60) 0 0 0.5rem;
  box-sizing: border-box;
  color: var(--gray-00);
  display: inline-block;
  font-size: 1rem;
  margin: 0.75rem;
  min-width: 10rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: background var(--transition-fast);
}
.ButtonPrimary:active {
  background: linear-gradient(var(--blue-60), var(--blue-70));
}
.ButtonPrimary:hover {
  box-shadow: var(--blue-60) 0 0 1rem 0.1rem;
}

.ButtonPrimary--small {
  border-radius: 0.25rem;
  border: 1px solid;
  box-shadow: none;
  color: var(--gray-00);
  min-width: 5rem;
  padding: 0.25rem 0.5rem;
}
.ButtonPrimary--small:active {
  background: linear-gradient(var(--blue-20), var(--blue-70));
  border-color: var(--blue-20);
}
.ButtonPrimary--small:hover {
  background: linear-gradient(var(--blue-60), var(--blue-70));
  box-shadow: none;
}
