.button-primary--small {
  background: linear-gradient($blue-dawn, $blue-dusk);
  border-radius: 0.25rem;
  border: 1px solid;
  border-color: $blue-dusk;
  color: #000;
  padding: 0.25rem 0.5rem;
  text-align: center;
  text-decoration: none;
  transition-duration: $transition-fast;
}

.button-primary--small:active {
  background: linear-gradient($blue-night, $blue-dawn);
  border-color: $blue-night;
  transition-duration: $transition-instant;
}

.button-primary--small:hover {
  background: linear-gradient($blue-dusk, $blue-dawn);
  transition-duration: $transition-fast;
}
