.ButtonPlay {
  background: none;
  border-bottom: 2rem solid transparent;
  border-left: 3.5rem solid var(--blue-60);
  border-right: none;
  border-top: 2rem solid transparent;
  cursor: pointer;
  padding: 0;
  height: 0;
  margin: 1rem auto;
  transition: var(--transition-fast) background-color,
    var(--transition-fast) border-color;
  width: 0;
}
.ButtonPlay:hover {
  border-left-color: var(--blue-70);
}

.ButtonPlay--playing {
  background: var(--blue-60);
  border: 0;
  height: 4rem;
  width: 4rem;
}
.ButtonPlay--playing:hover {
  background: var(--blue-70);
}
