.HollowButton {
  background: linear-gradient(var(--blue-20), var(--gray-00), var(--blue-20));
  border-radius: 1rem;
  border: 1px solid var(--blue-60);
  box-shadow: var(--blue-60) 0 0 0.5rem 0.1rem;
  color: var(--gray-99);
  font-size: 0.75rem;
  margin: 1rem 0.5rem;
  outline: 0;
  padding: 0.33rem 1rem;
  text-decoration: none;
  transition-duration: var(--transition-fast);
}
.HollowButton:active {
  background: linear-gradient(var(--gray-00), var(--gray-00), var(--blue-20));
}
.HollowButton:hover {
  box-shadow: var(--blue-60) 0 0 1rem 0.1rem;
  transition-duration: var(--transition-fast);
}
.HollowButton--active {
  background: black;
  border: 1px solid var(--blue-30);
  box-shadow: none;
}
.HollowButton--active:active {
  background: black;
}
.HollowButton--active:hover {
  box-shadow: none;
}
