.step {
  background: var(--blue-10);
  border: calc(var(--pattern-side-length) / 48) solid #000;
  box-sizing: border-box;
  cursor: pointer;
  height: 100%;
  padding: 0;
  width: 100%;;
}
.step--selected {
  background: var(--turquoise);
}
