.WelcomeMessage {
  color: var(--blue-80);
  padding: 0.5rem 1rem;
  position: fixed;
  font-size: 0.75rem;
  bottom: -100;
  right: 0;
  opacity: 0;
  animation: WelcomeMessage-animation 6s 1;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes WelcomeMessage-animation {
  0% {
    opacity: 0.25;
    bottom: 0;
  }
  10% {
    opacity: 0.7;
  }
  70% {
    opacity: 0.7;
  }
  99% {
    opacity: 0;
  }
  100% {
    bottom: 0;
    display: none;
  }
}
