.RangeLabelled__Container {
  display: inline-block;
  margin: 1rem 0.5rem;
  text-align: center;
  width: 12rem;
}

.RangeLabelled__Input {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--gray-99);
  height: 0.1rem;
  width: 10rem;
}

.RangeLabelled__Input::-webkit-Slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(to bottom, var(--gray-99) 0%, var(--gray-90) 55%, var(--blue-80) 80%);
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.5);
  height: 0.8rem;
  top: 0px;
  width: 0.8rem;
}
